<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../layui/layui.all.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
</head>

<body>
    <hr />
    <table id="tab" border="1px" width="50%" cellspacing="0px" cellpadding="10px" align="center">
        <thead>
            <tr>
                <td>序号</td>
                <td>权限</td>
                <td>描述</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in items" :key="index">
                <td>{{index+1}}</td>
                <td>{{item.menutext}}</td>
                <td>{{item.murl}}</td>
            </tr>
        </tbody>
    </table>

    <script>

        console.log(localStorage.getItem("uid"));
        var uid = localStorage.getItem("uid");
        var app1 = new Vue({
            el: "#tab",
            data: {
                items: [],
                s1: false
            },
            created: function () {
                axios.get("../TmenuServlet", {
                    params: {
                        uid: localStorage.getItem("uid")
                    }
                }).then((ret) => {
                    app1.items = ret.data
                    console.log(ret.data)
                })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            methods: {
                closes1: function () {
                    this.s1 = false;
                },
                opens1: function () {
                    this.s1 = true;
                }

            },
        });
    </script>
</body>

</html>